* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    border-bottom: 1px solid #EEE;
    padding: 40px;
    text-align: center;
}

main {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}

#search-sec {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
}

#search-sec form {
    width: 100%;
}

#search-sec h2{
    text-align: left;
}

#searchInp {
    border: none;
    width: 96%;
    background-color: #EEE;
    font-size: 16px;
    padding: 10px 2%;
    margin: 20px auto;
}

.err-msg {
    width: 92%;
    padding: 4%;
    color: red;
    background-color: rgba(255, 153, 153, 0.2);
    text-align: center;
    margin: 10px auto;
}

#searchBtn {
    border: none;
    width: 100%;
    background-color: #000;
    padding: 10px;
    color: #fff;
    cursor: pointer;
}

hr {
    margin: 40px auto;
    width: 100%;
}

#weather-history {
    width: 100%;
    margin: 10px auto;
    text-align: center;
}

.visited-city {
    width: 100%;
    background-color: #EEE;
    font-style: italic;
    padding: 10px;
    margin: 10px auto;
    cursor: pointer;
}

.visited-city:hover {
    background-color: rgb(180, 180, 180);
}

#weather-sec {
    flex-basis: 70%;
}

#city-name {
    display: flex;
    align-items: flex-end;
    height: 50px;
}

#cw-date {
    margin: 0px 10px;
}

#cw-icon {
    height: 100%;
}

#cw-info {
    margin-top: 10px;
}

#cw-info div {
    margin-bottom: 15px;
}
#uv {
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    padding: 2px;
    width: 40px;
    color: #fff;
    font-weight: bold;
}

.minimal {
    background-color: green;
}

.low {
    background-color: rgb(235, 211, 0);
}

.moderate {
    background-color: rgb(255, 145, 0);
}

.high {
    background-color: rgb(128, 0, 0);
}

.very-high {
    background-color: rgb(144, 0, 113);
}

#five-day h3{
    margin: 20px 0px;
}

#five-day-cont{
    display: flex;
    justify-content: space-between;
}

.fw {
    border: 1px solid #EEE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px;
    width: 15%;
    height: 200px;
}

/* Media queries */
@media screen and (max-width: 1393px) {
    body {
        width: 1393px;
    }
}
